<mlc-loaded-svg [ngClass]="isOption && !bird.isDouble ? 'bird birdImage': 'bird-to-select birdImage'"
  [pathWithReplaces]="bodyPathWithReplaces" ></mlc-loaded-svg>
<mlc-loaded-svg [pathWithReplaces]="wings1PathWithReplaces" [ngClass]="isOption ? 'bird birdImage normal': 'bird-to-select birdImage'" [ngStyle]="{'opacity':wingsUpActivate ? '0':'1'}" (click)="birdSelectMethod()" ></mlc-loaded-svg>
<mlc-loaded-svg [pathWithReplaces]="wings2PathWithReplaces" [ngClass]="isOption ? 'bird birdImage up': 'bird-to-select birdImage'" [ngStyle]="{'opacity':wingsUpActivate ? '1':'0'}" (click)="birdSelectMethod()"  ></mlc-loaded-svg>
<!--   path="colorful-heights/svg/Pajaritos/cotorra_amarillo.svg"></mlc-loaded-svg> -->
<span class="myAbsolute" #htmlSpanElement></span>
