<div class="full-size" style="position: relative" [fxLayoutAlign]="currentMagnifierPosition.flexPosition">
  <div #box fxLayoutAlign="center center" [ngStyle]="{'width': currentMagnifierPosition.width,
  'height': currentMagnifierPosition.height, 'transform': currentMagnifierPosition.transform,
  'border-radius':currentMagnifierPosition.borderRadius}"
        class="box-on"
       style="transition: 1s">
    <div *ngIf="currentButtonPosition" class="ok-btn" [ngStyle]="{'transform': 'translate(' + currentButtonPosition.xAxis + 'vh,'
       + currentButtonPosition.yAxis + 'vh)'}"
          mlcClickeableOx [realClick]="onClickOk.bind(this)"
         fxLayoutAlign="center center"><span>OK!</span></div>
  </div>
</div>
