<div fxFlex="grow" fxLayoutAlign="center center" style="position: relative; background: red">
  <div fxFlex="grow" fxFlexFill class="myAbsolute">
    <div fxFlex="grow" fxFlexFill style="position: relative">

      <div style="width:100%; height:25vh;padding-top: 2vh; padding-right: 2vh;top:10vh;;"
           class="myAbsolute" fxLayoutAlign="end center">
        <app-bird-to-select [birdToSelect]="exercise.targetBird"  [counterOriginalText]="correctAnswerCounter"
                            class="bird-select-container"></app-bird-to-select>
      </div>
      <div class="myAbsolute tree-show" fxFlex="grow" fxFlexFill style="z-index: 1;">
        <div fxFlex="grow" fxFlexFill style="position: relative" fxLayoutAlign="center center">
          <mlc-loaded-svg fxFlex="grow" fxFlexFill class="myAbsolute" forceViewBoxTo="''"
                          path="colorful-heights/svg/Elementos fondo/arbol.svg">
          </mlc-loaded-svg>

          <mlc-ratio-container ratio="4-3" style="position: relative; top: 10vh;" *ngIf="exercise.optionsBirds">

            <div insideRatio style="width: 100%; height: 100%; z-index: 1;" fxLayoutAlign="center center"
                 fxLayout="column" fxLayoutGap="7vh">
              <app-clock [sendFinishEvent]="false"></app-clock>
              <app-nest-group class="full-width" [nestGroupInfo]="exercise.optionsBirds"></app-nest-group>
            </div>
          </mlc-ratio-container>
        </div>
      </div>

      <mlc-loaded-svg fxFlex="grow" fxFlexFill class="myAbsolute base-hide"  forceViewBoxTo="''"
                       path="colorful-heights/svg/Elementos fondo/Base.svg">
      </mlc-loaded-svg>
    </div>
  </div>
  <div class="text-tutorial-container" style="position: absolute" fxLayoutAlign="center center" >
    <ox-text #tutorialText
             [ignoreLowerCase]="true"
             [originalText]="text"
             font="dinnMedium"
             color="white"
             fontSize="4vh"
             class="tutorial-text" style="position: absolute">
    </ox-text>
  </div>
</div>
<app-magnifier-glass
  *ngIf="magnifier"
    [ngClass]="{'no-events':clicksOn}"
  (okButtonClicked)="onOkButtonClicked()"
  [magnifierPosition]="magnifier" [buttonOkActivate]="buttonOkActivate" [boxOn]="boxOn"></app-magnifier-glass>

    <div class="skip-tutorial-btn" fxLayoutAlign="center center"><span>Saltar tutorial</span></div>
