<div class="hole" style="position: relative" fxLayoutAlign="center center">
  <mlc-loaded-svg class="hole myAbsolute" fxFlex="grow" fxFlexFill
                  style="z-index: 1" path="colorful-heights/svg/Elementos fondo/hueco.svg"></mlc-loaded-svg>
<!--  <mlc-loaded-svg class="hole myAbsolute" fxFlex="grow" fxFlexFill-->
<!--                  style="z-index: 1" path="colorful-heights/svg/Elementos fondo/hueco-over.svg"></mlc-loaded-svg>-->
<!--  background: rgba(255,0,0,0.57)-->
  <div class="bird"
       fxLayoutAlign="center start"
       style=" border-radius: 50%;z-index: 1; width: 100%; overflow: hidden;">
    <!-- <app-bird class="bird" [bird]="bird" [isAnswer]="isAnswer"></app-bird> -->
    <app-bird [ngClass]= "bird.isDouble ? 'bird-double-hole myAbsolute':'bird-hole myAbsolute'" [bird]="bird" [isAnswer]="isAnswer"
     ></app-bird>
    <app-bird [ngClass]= "bird.isDouble ? 'bird-2-double-hole myAbsolute':'bird-2-hole myAbsolute'"  [bird]="bird" [isAnswer]="isAnswer"
     ></app-bird>

  </div>
</div>
