<div class="hole" style="position: relative" fxLayoutAlign="center center">
  <mlc-loaded-svg class="hole myAbsolute" fxFlex="grow" fxFlexFill
                  style="z-index: 1" path="colorful-heights/svg/Elementos fondo/hueco.svg"></mlc-loaded-svg>
<!--  <mlc-loaded-svg class="hole myAbsolute" fxFlex="grow" fxFlexFill-->
<!--                  style="z-index: 1" path="colorful-heights/svg/Elementos fondo/hueco-over.svg"></mlc-loaded-svg>-->
<!--  background: rgba(255,0,0,0.57)-->
  <div class="bird"
       fxLayoutAlign="center center"
       style=" border-radius: 50%; transform: translateY(-2vh); z-index: 1; width: 100%;">
    <app-bird class="bird" style=";"></app-bird>
  </div>
</div>
