<div class="hole" style="position: relative">
  <mlc-loaded-svg class="hole"
                  style="z-index: 1" path="colorful-heights/svg/Elementos fondo/hueco.svg"></mlc-loaded-svg>
  <mlc-loaded-svg class="hole"
                  style="z-index: 1" path="colorful-heights/svg/Elementos fondo/hueco-over.svg"></mlc-loaded-svg>
  <div class="bird myAbsolute" style="background: rgba(255,0,0,0.57); border-radius: 50%; transform: translateY(-0.3vh);">
    <app-bird class="bird myAbsolute" style="top: 2vh;"></app-bird>
  </div>
</div>
