/* You can add global styles to this file, and also import other style files */
.full-width {
  width: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.myAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}



* {
  user-select: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bird {
  overflow: hidden;
  height: 23vh;
  width: 23vh;
  transform:translateY(100%)
}


.stick {
  width: 47vh;
  height: 15vh;
  position: absolute;
  top:6vh;
}


.hole {
  width: 26vh;
  height: 27vh;
}


.bird-select-container {
  width: 29vh;
  height: 30vh;
  left:50vh;
  top: 17vh;
  left: 2vh;
}

.stick-left {
  @extend .stick;
  right:85vh;
}

.stick-right {
  @extend .stick;
  right:1vh;
}

.bird-to-select {
  width:19vh;
  height:19vh;
  overflow: hidden;
}


.bird-1 {
  @extend .bird;
  top: -35vh;
  left: 13vh;
  overflow: hidden;
}


.birdDouble {
  height: 23vh;
  width: 23vh;
  transform:translateY(100%);
  top: -10vh;
  left: 8vh;
  transform: rotate(-15deg);
  overflow: hidden;
  opacity: 0;
}

.bird-2 {
  height: 23vh;
  width: 23vh;
  transform:translateY(100%);
  top: -9vh;
  left: 19vh;
  transform: rotate(15deg);
  overflow: hidden;
  opacity:0;
}

.bird-2-hole {
  overflow: hidden;
  transform:translate(-0.7vh, 1.3vh) rotate(-15deg);
}

.birdDouble-hole {
  overflow: hidden;
  transform: translate(8.5vh,2.9vh) rotate( 
    15deg);
}

.bird-hole {
  overflow: hidden;
  transform: translate(1.7vh, -1vh);
}

.birdImage {
}
