/* You can add global styles to this file, and also import other style files */
.full-width {
  width: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.myAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}



* {
  user-select: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bird {
  overflow: hidden;
  height: 23vh;
  width: 23vh;
}


.stick {
  width: 47vh;
  height: 15vh;
  position: absolute;
  top:6vh;
}


.hole {
  width: 26vh;
  height: 27vh;
}


.bird-select-container {
  width: 29vh;
  height: 30vh;
  left:50vh;
  top: 17vh;
}

.stick-left {
  @extend .stick;
  right:85vh;
}

.stick-right {
  @extend .stick;
  right:1vh;
}

.bird-to-select {
  width:19vh;
  height:19vh;
  overflow: hidden;
}

.bird-1 {
 @extend .bird;
  top: -12vh;
  left: 13vh;
}


.bird-1-double {
  height: 19vh;
  width: 19vh;
  overflow: hidden;
  top: -8.5vh;
  left: 6.5vh;
  transform: rotate(-15deg);

}

.bird-2 {
  overflow: hidden;
  height: 19vh;
  width: 19vh;
}

.bird-2-normal {
  
  opacity:0;
}

.bird-2-double {
    @extend .bird-2;  
    opacity: 1;
    top: -8.5vh;
    left: 20vh;
    transform: rotate(15deg);
}




.bird-2-hole {
  @extend .bird-2;
  width: 0;
  transform:translate(-3.6vh, 0.2vh);
  opacity:0;
}

.bird-2-double-hole {
  @extend .bird-2-hole;
  height: 19vh;
  width: 19vh;
  opacity: 1;
  transform: translate(-1vh,2vh)rotate(-15deg);
}


.bird-double-hole {
  @extend .bird-2;
  transform: translate(7.3vh,2vh) rotate(15deg);

}


.birdImage {
  transform:translateY(100%);
  position: absolute;

}
.bird-hole {
  @extend .bird;
  overflow: visible;
  height: 95%;
  transform: translate(-0.75vh, -0.4vh);
}
.hintOn {
  opacity: 0;
}
