.correct-counter {
    color: white;
    background-color: #82461e;
    border-radius: 25px;
    width: 12vh;
    height: 5vh;
    top: 10.5vh;
    z-index: 20;
  }

  .counter {
    margin-left:3vh;
    margin-top: 0.5vh;
  }